@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.fadeOutUp {
    animation: fadeOutUp 0.5s ease-in-out;
}

.change-color-animation {
    transition: background-color 0.25s ease-in-out; /* Trvání animace: 1 sekunda */
}
