.copy-message {
    position: absolute;
    top: 20px;
    background: $body-color;
    color: $body-bg;
    font-size: 12px;
    padding: calc($spacer / 3) calc($spacer / 1.5);
    border-radius: $border-radius;
    animation: fadeInDown 0.5s ease-in-out;
}
